# Gradle
/.gradle/
/build/

# Ficheros de IntelliJ / Android Studio
/.idea/
*.iml

# Ficheros locales (Nunca subir)
/local.properties
*.jks
*.keystore

# Ficheros de OS
.DS_Store

# Logs y Profiling
*.log
*.hprof
/captures/
output.json

# Binarios y APKs
*.apk

# Ficheros de Build Nativos
/.externalNativeBuild/
/.cxx/

# Ficheros de Servicios de Google
/google-services.json